@charset "UTF-8";

@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;600;800&display=swap');




#wrap {
    background: url(../img/bg-main.jpg) no-repeat;
    background-size: cover;
    height: 100vh;
}
.container1 {
    border-bottom: 1px solid #ccc;
}

/* header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 40px;
}
header .logo {
    width: 150px;
}
header .logo img {
    width: 100%;
}

/* nav */
nav {
    margin-right: 100px;
}
nav ul {
    display: flex;
}
nav ul li {}
nav ul li a {
    display: block;
    text-transform: uppercase;
    padding: 10px 20px;
    font-size: 20px;
}
nav ul li a:hover {
    color: #000;
}

/* search */
.search {
    cursor: pointer;
}
.search i {
    display: block;
    color: #fff;
    padding: 20px;
    font-size: 30px;
}
.search:hover i {
    color: #000;
}


/* container2 */
.container2 {
    margin-top: 80px;
}
.slide {
}
.slide_contents {
    margin-right: 30px;
}
.slide_contents .shoes {
    display: flex;
    justify-content: space-between;
    height: 600px;
}
.slide_contents .shoes .left {
    position: relative;
    width: 40vw;
    padding-left: 30px;
}
.slide_contents .shoes .left h2 {
    color: #fff;
    font-size: 120px;
    padding-top: 150px;
    font-weight: 800;
    letter-spacing: 2rem;
    font-family: 'Noto Sans', sans-serif;
}
.slide_contents .shoes .left h2 em {
    font-size: 30px;
    padding-left: 400px;
}
.slide_contents .shoes .left img {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.slide_contents .shoes .right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30vw;
    color: #fff;
    margin-right: 20px;
}
.slide_contents .shoes .right .tit_wrap {
    display: flex;
    align-items: center;
}
.slide_contents .shoes .right .tit {
    font-size: 60px;
    font-weight: bold;
    font-style: italic;
}
.slide_contents .shoes .right .rate {
    margin-left: 15px;
}
.slide_contents .shoes .right .rate i {
    color: gold;
    margin-right: 5px;
}
.slide_contents .shoes .right .rate i.ws {
    color: #fff;
}
.slide_contents .shoes .right strong {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}
.slide_contents .shoes .right p {
    margin-bottom: 20px;
    letter-spacing: -1px;
}
.slide_contents .shoes .right .desc {
    letter-spacing: -1px;
    margin-bottom: 20px;
}
.slide_contents .shoes .right .desc li {
    list-style: disc;
}
.slide_contents .shoes .right .desc li i {
    color: gold;
    margin-right: 3px;
}

.slide_contents .shoes .right .btn {
    display: flex;
    align-items: center;
    letter-spacing: -1px;
}
.slide_contents .shoes .right .btn .size {}
.slide_contents .shoes .right .btn .size a {
    display: block;
    color: #000;
    padding: 5px;
    background-color: gold;
    font-weight: bold;
}
.slide_contents .shoes .right .btn .size a i {
    margin-left: 3px;
}
.slide_contents .shoes .right .btn .cart {
    margin-left: 15px;
}
.slide_contents .shoes .right .btn .cart a {
    display: block;
    border: 1px solid #fff;
    padding: 7px 13px;
}
.slide_contents .shoes .right .btn .price {
    margin-left: 20px;
    font-size: 20px;
    font-weight: bold;
}


/* slick btn */
.slide_contents {
    display: flex;
}
.slide_contents .slick-prev {
    padding-left: 50px;
    cursor: pointer;
}
.slide_contents .slick-next {
    cursor: pointer;
}
.slide_contents .slick-prev::before {
    content: "\f053";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 30px;
    visibility: visible;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    padding: 15px 12px;
}
.slide_contents .slick-next::before {
    content: "\f054";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 30px;
    visibility: visible;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    padding: 15px 12px;
}
.slide_contents button {
    visibility:hidden;
}
.slick-track>div.slick-active .left h2 {
    animation: ani1 3s;
}
.slick-track>div.slick-active img {
    animation: ani2 3s;
}
.slick-track>div.slick-active .right .tit_wrap {
    animation: ani1 3s;
}
.slick-track>div.slick-active .right strong {
    animation: ani1 3s;
}
.slick-track>div.slick-active .right p {
    animation: ani2 3s;
}
.slick-track>div.slick-active .right .desc {
    animation: ani2 3s;
}

.slick-track>div.slick-active .right .btn .size {
    animation: ani1 3s;
}
.slick-track>div.slick-active .right .btn .cart {
    animation: ani3 3s;
}
.slick-track>div.slick-active .right .btn .price {
    animation: ani2 3s;
}


@keyframes ani1 {
    0% {transform: translateX(-100%);}
    100% {transform: translateX(0%);}
}

@keyframes ani2 {
    0% {transform: translateX(100%);}
    100% {transform: translateX(0%);}
}

@keyframes ani3 {
    0% {transform: translateY(100%);}
    100% {transform: translateY(0%);}
}