@charset "UTF-8";


/* font-family: 'Nanum Brush Script', cursive;
font-family: 'Nanum Gothic', sans-serif; */

/* 레이아웃 */
#wrap {}
#header {
    height: 325px;
    background: url(../img/backimg2.png) center 403px;
}
#contents {}


/* contents 레이아웃 */
.cont_nav {
    background-color: #f6fdff;
}
#cont_tit {
    background-color: #eaf7fd;
}
/* container */
.container {
    width: 990px;
    margin: 0 auto;
}

/* header */
.header {}
.header .header_menu {
    text-align: right;
}
.header .header_menu a {
    color: #fff;
}
.header .header_title {
    text-align: center;
}
.header .header_title h1 {
    display: inline-block;
    /* inline요소는 padding과 margin이 좌우만 적용,상하x */
    background-color: #4aa8d4;
    color: #fff;
    font-style: 28px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 40px;
    padding: 5px 20px 6px;
}
.header .header_title a {
    display: inline-block;
    color: #fff;
    font-style: 18px;
    padding: 5px 20px 6px;
    background-color: #2698cd;
    margin-top: -5px;   /* padding은 음수를 줄 수 없음 */
}
.header_icon {
    text-align: center;
    margin-top: 30px;
}
.header_icon a {
    display: inline-block;
    width: 60px;
    height: 60px;
    background-image: url(../img/icon.png);
    margin: 0 3px;
}

.header_icon .icon1 {
    background-position: 0 0;
}
.header_icon .icon1:hover {
    background-position: -60px 0;
}
.header_icon .icon2 {
    background-position: 0px -60px;
}
.header_icon .icon2:hover {
    background-position: -60px -60px;
}
.header_icon .icon3 {
    background-position: 0px -120px;
}
.header_icon .icon3:hover {
    background-position: -60px -120px;
}
.header_icon .icon4 {
    background-position: 0px -180px;
}
.header_icon .icon4:hover {
    background-position: -60px -180px;
}



/* nav */
.nav {
    padding: 30px 0;
    display: none;
}
.nav>div {
    float: left;
    width: 40%;
}
.nav>div.last {
    width: 20%;
}
.nav>div h3 {
    font-size: 18px;
    color: #25a2d0;
    margin-bottom: 4px;
}
.nav>div ol {
    overflow: hidden;
}
.nav>div ol li {
    position: relative;
    float: left;
    width: 50%;
    margin-bottom: 3px;
}
.nav>div ol li::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 2px;
    background-color: #25a2d0;
    /* transform: scaleX(0);
    transform-origin: left top; */
    transition: 0.3s;
}
.nav>div ol li:hover:after {
    /* transform: scale(1); */
    width: 100%;
}
.nav>div.last ol li {
    width: 100%;
}
.nav>div ol li a {}


/* tit */
.tit {
    position: relative;
}
.tit h2 {
    font-size: 40px;
    color: #2c94c4;
    text-align: center;
    font-family: 'Nanum Brush Script', cursive;
    padding: 10px 0;
    letter-spacing: 2px;  /* 자간 */
}
.tit .btn {
    position: absolute;
    right: 0;
    top: 9px;
    width: 60px;
    height: 60px;
    background-image: url(../img/icon.png);
    background-position: 0 -600px;
}
.tit .btn.on {
    background-position: 0px -660px;
}