@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #ddd;
}
.main {}
.cube {
    position: absolute;
    top: 50%;
    left: 50%;
    perspective: 1500px;
    transform: translate(-50%, -50%);
}
.box-area {
    position: relative;
    transform: rotateX(0deg) rotateY(0deg);
    transform-style: preserve-3d;
    transition: 0.5s;
    width: 400px;
    height: 400px;
}
.box-area .box {
    position: absolute;
    width: 400px;
    height: 400px;
    border: 2px solid #262626;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
}
.box-area .box h2 {
    color: #fff;
    font-size: 40px;
}
.box-area .box-front {
    background-color: rgba(253, 203, 37, 0.5);
    transform: translateZ(200px);
}
.box-area .box-right {
    background-color: rgba(98, 253, 37, 0.5);
    transform: rotateY(90deg) translateZ(200px);
}
.box-area .box-back {
    background-color: rgba(37, 221, 253, 0.5);
    transform: rotateY(180deg) translateZ(200px);
}
.box-area .box-left {
    background-color: rgba(37, 95, 253, 0.5);
    transform: rotateY(-90deg) translateZ(200px);
}
.box-area .box-top {
    background-color: rgba(174, 37, 253, 0.5);
    transform: rotateX(90deg) translateZ(200px);
}
.box-area .box-bottom {
    background-color: rgba(253, 37, 37, 0.5);
    transform: rotateX(-90deg) translateZ(200px);
}

